

<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="description" content="What Liz does">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <p>
      I mean actually, Victor Frankenstein never finishes his PhD,
      he was building chemistry equipment in switzerland,
      and if I remember it wasn't even clear this <em>was</em> a doctorate.
      But he leaves the program and starts making a son, and then abandons him.
    </p>
    <h3>
      Isn't the real monster Mary Shelley for creating all of it?
    </h3>
    <h1>
      Isn't the real monster <em>us</em> by keeping this discussion alive?
    </h1>
    <p>
      Choose two websites to mash them up:
    </p>

    <img src="/img/mash_0.png"/>



  </body>
</html>
